.app-background {
    min-height: 100vh;
    background-color: rgb(40, 40, 40);
}

.Main {
    display: flex;
    flex-direction: column;
}

#logo {
    display: flex;
    max-height: 30vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(40, 40, 40);
}

#logo-txt {
    font-family: 'Open Sans';
    font-size: calc(12px + 0.3vw);
    color: rgb(255, 255, 255);
}

#pollmaker-container {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-bottom: 5vh;
    background-color: rgb(40, 40, 40);
}

#pollmaker-background {
    flex: 60vw;
    max-width: calc(400px + 30vw);
    margin-top: 5vw;
    padding-left: 5%;
    padding-right: 5%;
}

#pollmaker {
    padding-left: 12%;
    padding-right: 12%;
    padding-top: 10%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.500);
    background-color: rgb(246, 232, 177);
}

