.poll {
    display: flex;
    background-color: rgb(40, 40, 40);
    min-height: 50vh;
    justify-content: center;
    align-content: center;
}

#voteform {
    flex: 60vw;
    max-width: calc(400px + 30vw);
    margin-top: 5%;
    margin-bottom: 80pt;
    padding-left: 5%;
    padding-right: 5%;
}

#poll-table {
    width: 100%;
}

#poll-header {
    color: rgb(255, 255, 255);
    font-family: 'Sriracha', cursive;
}

.poll-table{
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    background-color: rgb(246, 232, 177);
    border: 2px solid rgb(246, 232, 177);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.500);
    border-collapse: collapse;
}

.poll-table tr{
    border-bottom: 1px solid black;
    line-height: 40px;
}

.poll-table tbody td:first-child{
    width: 100%;
    overflow-wrap: break-word;
    padding: 5%;
}

.poll-table tbody td:nth-child(2){
    width: 20rem;
    margin-right: 20rem;
    align-items: center;
    padding-right: 2rem;
}

#checkbox {
    cursor: pointer;
}

.choice-button {
    display: none;
    margin-right: 20px;
}

#poll-button-container{
    display: flex;
    justify-content: space-between;
}

#answer-button {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans';
    padding: 20px;
    padding-left: 20px;
    background-color: rgb(255, 200, 61);
    border-radius: 30px;
    border: 1px solid rgb(180, 161, 55);
    outline: none;
}

#result-button {
    cursor: pointer;
    font-size: 20px;
    font-family: 'Open Sans';
    text-indent: 18px;
    padding: 20px;
    padding-left: 10px;
    padding-right: 32px;
    background-color: rgb(143, 148, 160);
    border-radius: 30px;
    border: 1px solid rgb(100, 104, 112);
    align-self: flex-end;
    outline: none;
}

@media (hover: hover) {
    #answer-button:hover {
        background-color: rgb(255, 235, 123);
    }
}

@media (hover: hover) {
    #result-button:hover {
        background-color: rgb(164, 169, 182);
    }
}