#pollform {
    background-color: rgb(255, 254, 235);
}

#input-field {
    width: 100%;
    font-size: 30px;
    background-color: rgb(255, 254, 235);
    border: none;
    border-bottom: 1px solid black;
    line-height: 50px;
}

#form-button {
    font-size: 20px;
    padding: 20px;
    padding-left: 20px;
    background-color: rgb(255, 200, 61);
    border-radius: 30px;
    border: 1px solid rgb(180, 161, 55);
}

#form-button:hover {
    background-color: rgb(255, 235, 123);
}