#pollform {
    background-color: rgb(246, 232, 177);
}

#question-field {
    width: 100%;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    background-color: rgb(246, 232, 177);
    border: none;
    border-bottom: 1px solid black;
    line-height: 50px;
    margin-bottom: 40pt;
    outline: none;
}

#answer-field {
    width: 100%;
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    background-color: rgb(246, 232, 177);
    border: none;
    border-bottom: 1px solid black;
    line-height: 50px;
    outline: none;
}

#form-button {
    font-family: 'Open Sans';
    font-size: 20px;
    padding: 20px;
    padding-left: 20px;
    margin-top: 40pt;
    margin-bottom: 20pt;
    background-color: rgb(255, 200, 61);
    border-radius: 30px;
    border: 1px solid rgb(180, 161, 55);
    outline: none;
    cursor: pointer;
}

@media (hover: hover) {
    #form-button:hover {
        background-color: rgb(255, 235, 123);
    }
}