.poll-directory {
    display: flex;
    flex: 1;
    min-height: 50vh;
    background-color: rgb(40, 40, 40);
    justify-content: center;
    align-content: center;
}

#poll-dir-table{
    flex: 30vw;
    max-width: calc(400px + 30vw);
    margin-top: 5%;
    padding-bottom: 5vh;
    padding-left: 5%;
    padding-right: 5%;
}

#dir-header {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

#dir-table {
    font-size: 20px;
    font-family: 'Sriracha', cursive;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.500);
    border-collapse: collapse;
    border: 2px solid rgb(246, 232, 177);
    background-color: rgb(246, 232, 177);
}

#dir-table tr{
    line-height: 40px;
    border-bottom: 1px solid black;
}

#dir-table tbody td:first-child{
    width: 100%;
    overflow-wrap: anywhere;
    padding: 5%;
}

#dir-table tbody td:nth-child(2){
    width: 20rem;
    margin-right: 20rem;
    align-items: center;
    padding-right: 1rem;
}

.del-button{
    /*font-family: 'Open Sans';*/
    display: block;
    border-radius: 5px;
    margin-right: 2rem;
    border: none;
    width: 2rem;
    height: 2rem;
    border: 1px solid rgb(180, 161, 55);
    background: url(trash.svg);
    background-size: 2rem 2rem;
    background-color: rgb(255, 200, 61);
    padding: 1rem;
    outline: none;
    cursor: pointer;
}

@media (hover: hover){
    .del-button:hover{
        background-color: rgb(255, 235, 123);
    }
}

#no-polls {
    font-family: 'Sriracha', cursive;
    font-size: 20px;
    color: rgb(255, 255, 255);
}