.result-bar {
    position: relative;
    height: 20px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #000000
}

.filler {
    background: rgb(255, 200, 61);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
}