@keyframes slideInFromLeft {
    0% {
      width: 0%;
    }
    100% {
      width: width;
    }
}

.result-bar {
    position: relative;
    height: 20px;
    width: 100%;
    border-radius: 50px;
    border: 2px solid #000000
}

.filler {
    background: rgb(255, 200, 61);
    height: 100%;
    border-radius: inherit;
    animation: .2s ease-out 0s 1 slideInFromLeft;
}